.wrapper {
    margin-bottom: 173px;
    width: 1110px;
}
.h2 {
    margin-bottom: 80px;
}
.feedback_block {
    width: 100%;
    background-color: #EBEBEB;
    min-height: 320px;
}
.block_bottom {
    display: flex;
    gap: 35px;
}
.block_bottom > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 95px;
    margin-bottom: 45px;
}

.names {
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
}
.descr {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    padding: 45px 95px 58px;
}
.form {
    width: 100%;
    display: flex;
    background-color: #EBEBEB;
    min-height: 378px;
    gap: 30px;
}

.data_style {
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding-left: 25px;
    padding-top: 33px;
}
.data_style input {
    width: 300px;
    height: 50px;
    padding: 10px;
    
}
.text {
    width: 709px;
}
textarea {
    width: 500px;
    height: 152px;
    border: 2px solid #000000;
}
.text > button {
    width: 709px;
    height: 50px;
    background: #005FA3;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;

}